// Typography
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size: 14px;
$font-size-large: 18px;
$font-size-xlarge: 24px;

// Measurements
$gp: 16px;
$navHeight: 48px;
$container-width: 900px;
$list-header-height: 32px;
$list-width: 300px;

// Media queries
$tiny: "max-width: 425px";
$small: "max-width: 780px";
$medium: "max-width: 1024px";
$border-radius: 4px;
$box-padding: $gp;

// Media queries
$small: "max-width: 780px";
$medium: "max-width: 1023px";
$border-radius: 4px;
// SCSS overrides here
// $body-background-color: $black-bis;
$gap: 16px;
$body-font-size: 16px;
$primary: #221;
// $family-primary: 'Lato', sans-serif;
$body-background-color: #424242;
// $body-size
// $body-min-width
// $body-rendering
// $body-family
// $body-overflow-x
// $body-overflow-y
// $body-color
// $body-font-size
// $body-weight
// $body-line-height
// $code-family
// $code-padding
// $code-weight
// $code-size
// $small-font-size
// $hr-background-color
// $hr-height
// $hr-margin
// $strong-color
// $strong-weight
// $pre-font-size
// $pre-padding
// $pre-code-font-size

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)//,
    // "twitter": ($twitter, $twitter-invert)
);
// $black: ;
// $black-bis: ;
// $black-ter: ;
// $grey-darker: ;
// $grey-dark: ;
// $grey: ;
// $grey-light: ;
// $grey-lighter: ;
// $grey-lightest: ;
// $white-ter: ;
// $white-bis: ;
// $white: ;
// $orange: ;
// $yellow: ;
// $green: ;
// $turquoise: ;
// $cyan: ;
// $blue: ;
// $purple: ;
// $red: ;